[submodule "lwip"]
	path = lwip
	url = git@github.com:FlowerWrong/lwip.git
[submodule "scripts/china_ip_list"]
	path = scripts/china_ip_list
	url = git@github.com:17mon/china_ip_list.git
[submodule "libyaml"]
	path = libyaml
	url = git@github.com:yaml/libyaml.git
[submodule "scripts/dnsmasq-china-list"]
	path = scripts/dnsmasq-china-list
	url = git@github.com:felixonmars/dnsmasq-china-list.git
[submodule "lwip-contrib"]
	path = lwip-contrib
	url = git@github.com:FlowerWrong/lwip-contrib.git
